// 🔮
@import './mixin.scss';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #000;
}

.content {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;

    @include respond(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
    }

    .ctrl {
        position: relative;
        display: grid;
        grid-template-rows: 5% 95%;

        @include respond(phone) {
            grid-template-rows: 20% 80%;
        }
        
        .controls {
            outline: none;
            display: grid;
            grid-template-columns: 3fr .5fr;
        
            input {
                outline: none;
                border: none;
                font-size: 2rem;
            }
        
            button {
                display: grid;
                place-items: center;
                background: #fff;
                cursor: pointer;
                outline: none;
                border: none;

                #searchIcon {
                    height: 18px;
                    width: 18px;
                }
            }

            .units {
                position: absolute;
                top: 5%;
                right: 0;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include respond(phone) {
                    top: 20%;
                }

                .tempUnit {
                    cursor: pointer;
                    font-size: 3rem;
                    font-family: Dongle, sans-serif;
                }
                
                #c {
                    color: white;
                }

                #f {
                    color: grey;
                }

                #line {
                    margin-top: -.5rem;
                    margin-left: .5rem;
                    margin-right: .5rem;
                    color: #fff;
                    font-size: 2rem;
                }
            }
        }
    
        #card {
            display: grid;
            grid-template-rows: 25% 55%;
            font-family: Dongle, sans-serif;
            background-size: contain;

            @include respond(phone) {
                display: flex;
            }

            .cardOne {
                justify-self: right;
                width: 95%;
                display: grid;
                grid-template-rows: 1fr 2fr 1fr;

                #day {
                    margin-top: .5rem;
                    color: #fff;
                    font-size: 5rem;
                    margin-bottom: -2.3rem;

                    @include respond(phone) {
                        font-size: 3rem;
                        margin: 0 0 0 3rem;
                    }
                }

                #date {
                    color: #dbdbdb;
                    font-size: 2.5rem;
                    margin-bottom: -2rem;

                    @include respond(phone) {
                        font-size: 2rem;
                        margin: -2rem 0 0 3rem;
                    }
                }

                #location {
                    margin-top: 2rem;
                    color: #dbdbdb;
                    font-size: 2.5rem;

                    @include respond(phone) {
                        font-size: 2rem;
                        margin: 0 0 0 3rem;
                    }
                }
            }

            .cardTwo {
                justify-self: right;
                width: 95%;
                display: grid;
                align-items: flex-end;

                @include respond(phone) {
                    display: block;
                }

                .cardTwoContent {
                    height: 80%;
                    width: 100%;
                    display: grid;
                    grid-template-rows: 35% 45% 20%;
                    color: #fff;

                    @include respond(phone) {
                        height: 50%;
                        grid-template-columns: 1fr 1fr;
                    }

                    #one {
                        width: 20%;

                        #icon {
                            font-size: 5rem;

                            @include respond(phone) {
                                font-size: 4rem;
                            }
                        }
                    }

                    #two {
                        margin-bottom: -1rem;
                        
                        @include respond(phone) {
                            margin: 0;
                        }

                        #temp {
                            height: 100%;
                            width: 35%;
                            font-size: 7rem;

                            @include respond(phone) {
                                font-size: 4rem;
                            }
                        }
                    }

                    #three {
                        @include respond(phone) {
                            display: none;
                        }

                        #main {
                            font-size: 3rem;

                            @include respond(phone) {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }

            .cardThree {
                justify-self: right;
                width: 95%;
                display: grid;
                align-items: center;

                @include respond(phone) {
                    justify-content: center;
                    align-items: flex-end;
                }

                #desc {
                    font-size: 4rem;
                    font-family: Dongle, cursive, sans-serif;
                    color: #fff;
                }
            }

            .loader {
                height: 50px;
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                border: solid 5px #ffffff;
                border-radius: 50%;
                border-right-color: #000000;
                animation: loading 1s infinite linear;
            }

            @keyframes loading {
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    #map {
        opacity: 0.8;
        height: 100vh;
        width: 100%;
    }
}
