*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #000;
}

.content {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;

    .ctrl {
        position: relative;
        display: grid;
        grid-template-rows: 5% 95%;
        
        .controls {
            outline: none;
            display: grid;
            grid-template-columns: 3fr 1fr;
        
            input {
                outline: none;
                border: none;
                font-size: 2rem;
            }
        
            button {
                cursor: pointer;
                outline: none;
                border: none;
                font-size: 1.4rem;
                font-family: cursive, sans-serif;
    
                &:hover {
                    font-weight: 600;
                    transition: 0.8s ease-in-out;
                }
            }

            .units {
                position: absolute;
                top: 5%;
                right: 0;
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                .tempUnit {
                    cursor: pointer;
                    font-size: 3rem;
                    font-family: Dongle, sans-serif;
                }
                
                #c {
                    color: white;
                }

                #f {
                    color: grey;
                }

                #line {
                    margin-top: -.5rem;
                    margin-left: .5rem;
                    margin-right: .5rem;
                    color: #fff;
                    font-size: 2rem;
                }
            }
        }
    
        #card {
            display: grid;
            grid-template-rows: 25% 55%;
            font-family: Dongle, sans-serif;

            .cardOne {
                justify-self: right;
                width: 95%;
                display: grid;
                grid-template-rows: 1fr 2fr 1fr;

                #day {
                    margin-top: .5rem;
                    color: #fff;
                    font-size: 5rem;
                    margin-bottom: -2.3rem;
                }

                #date {
                    color: #dbdbdb;
                    font-size: 2.5rem;
                    margin-bottom: -2rem;
                }

                #location {
                    margin-top: 2rem;
                    color: #dbdbdb;
                    font-size: 2.5rem;
                }
            }

            .cardTwo {
                justify-self: right;
                width: 95%;
                display: grid;
                align-items: flex-end;

                .cardTwoContent {
                    height: 80%;
                    width: 100%;
                    display: grid;
                    grid-template-rows: 35% 45% 20%;
                    color: #fff;
                    font-size: 2rem;

                    #one {
                        width: 20%;

                        #icon {
                            font-size: 5rem;
                        }
                    }

                    #two {
                        margin-bottom: -1rem;

                        #temp {
                            height: 100%;
                            width: 35%;
                            font-size: 7rem;
                        }
                    }

                    #three {

                        #main {
                            font-size: 3rem;
                        }
                    }
                }
            }

            .cardThree {
                justify-self: right;
                width: 95%;
                display: grid;
                align-items: center;

                #desc {
                    font-size: 4rem;
                    font-family: Dongle, cursive, sans-serif;
                    color: #fff;
                }
            }

            .loader {
                border: solid red;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                border: solid 5px #ffffff;
                border-radius: 50%;
                border-right-color: #000000;
                animation: loading 1s infinite linear;
            }

            @keyframes loading {
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    #map {
        opacity: 0.8;
        height: 100vh;
        width: 100%;
    }
}
